Repository bh-coders/trip-planer, pull requests merged in 2024-02, with the labels that each got.

#93 #88 backend error during GitHub actions with docker compose and env
  .github/workflows/backend.yml
Labels: Backend

#91 #62 backend crud operations for attraction threads/reviews
  backend/docker/docker-compose.yml
  backend/pyproject.toml
  backend/src/attraction/models.py
  backend/src/auth/schemas/__init__.py
  backend/src/auth/utils.py
  backend/src/core/register.py
  backend/src/threads/__init__.py
  backend/src/threads/interfaces/__init__.py
  backend/src/threads/interfaces/repository.py
  backend/src/threads/models.py
  backend/src/threads/repository/__init__.py
  backend/src/threads/repository/comment_repository.py
  backend/src/threads/repository/review_repository.py
  backend/src/threads/routes/__init__.py
  backend/src/threads/routes/router.py
  backend/src/threads/schemas/__init__.py
  backend/src/threads/schemas/model_schema.py
  backend/src/threads/services/__init__.py
  backend/src/threads/services/comment_service.py
  backend/src/threads/services/review_service.py
Labels: Backend

#94 #30 frontend merging the detailed view of attractions into dev
  mobile/android/app/build.gradle
  mobile/android/gradle.properties
  mobile/components/views/Attractions/AddNew/AddNew.tsx
  mobile/components/views/Attractions/AddNew/OpeningHour.tsx
  mobile/components/views/Attractions/AddNew/styles.ts
  mobile/components/views/Attractions/Router.tsx
  mobile/components/views/Attractions/Search/AttractionModal.tsx
  mobile/components/views/Attractions/Search/FiltersModal.tsx
  mobile/components/views/Attractions/Search/Search.tsx
  mobile/components/views/Attractions/Search/api/apiMock.ts
  mobile/components/views/Attractions/Search/api/attractionsApi.ts
  mobile/components/views/Attractions/Search/styles.ts
  mobile/components/views/Attractions/tools/openingHourMapper.js
  mobile/components/views/Attractions/types.ts
  mobile/components/views/common/AttractionDetail.tsx
  mobile/components/views/common/styles.ts
  mobile/components/views/test/Router.tsx
  mobile/index.js
  mobile/package-lock.json
  mobile/package.json
  mobile/resources/images/we_dont_have.png
  mobile/routers/components/CustomDrawnerContent.tsx
  mobile/routers/components/MainRouter.tsx
Labels: Frontend

#96 #64 backend caching for attraction data
  backend/.env.template
  backend/requirements.txt
  backend/src/attraction/models.py
  backend/src/attraction/repositories/attraction_repo.py
  backend/src/attraction/routes/router.py
  backend/src/attraction/schemas.py
  backend/src/attraction/services/attraction_service.py
  backend/src/core/configs.py
  backend/src/core/interceptors/auth_interceptor.py
  backend/src/core/register.py
  backend/src/db/__init__.py
  backend/src/db/cache_storage.py
  backend/src/db/cloudstorage.py
  backend/src/db/database.py
  backend/src/threads/models.py
  backend/src/threads/repository/review_repository.py
  backend/src/threads/routes/router.py
  backend/src/threads/services/review_service.py
Labels: Backend

#98 #97 hotfix/backend incorrect path to database service
  backend/src/auth/models.py
  backend/src/auth/routes/router.py
  backend/src/file/services.py
  backend/src/users/models.py
  backend/src/users/routes/__init__.py
Labels: critical/hotfix

#102 #54 backend improvments of attraction domain
  backend/requirements.txt
  backend/src/attraction/interfaces/repository.py
  backend/src/attraction/repositories/attraction_repo.py
  backend/src/attraction/router.py
  backend/src/attraction/routes/router.py
  backend/src/attraction/schemas.py
  backend/src/attraction/service.py
  backend/src/attraction/services/attraction_service.py
  backend/src/attraction/services/geocoding_service.py
  backend/src/core/common_schema.py
  backend/src/core/configs.py
  backend/src/db/cloudstorage.py
  backend/src/threads/schemas/model_schema.py
  backend/src/threads/services/review_service.py
Labels: Backend

#106 #105 hotfix/frotend fix permission denied on ios
  mobile/components/views/Dashboard/components/MapboxBoard.tsx
  mobile/ios/Podfile.lock
  mobile/ios/mobile/Info.plist
Labels: Frontend, critical/hotfix

#107 #99 backend storing path of images from cloud storage
  backend/src/attraction/models.py
  backend/src/attraction/repositories/attraction_repo.py
  backend/src/attraction/routes/router.py
  backend/src/attraction/schemas.py
  backend/src/attraction/services/attraction_service.py
  backend/src/attraction/services/geocoding_service.py
  backend/src/core/register.py
  backend/src/db/cache_storage.py
  backend/src/db/cloud_storage.py
  backend/src/db/interfaces/__init__.py
  backend/src/db/interfaces/cache_storage.py
  backend/src/db/interfaces/cloud_storage.py
  backend/src/file/interfaces/__init__.py
  backend/src/file/interfaces/repository.py
  backend/src/file/models/__init__.py
  backend/src/file/models/media_models.py
  backend/src/file/models/schemas.py
  backend/src/file/repositories/__init__.py
  backend/src/file/repositories/media_repository.py
  backend/src/file/router.py
  backend/src/file/routers/__init__.py
  backend/src/file/routers/media_router.py
  backend/src/file/services.py
  backend/src/file/services/__init__.py
  backend/src/file/services/media_service.py
  backend/src/file/utils.py
  backend/src/test.db
  backend/src/threads/models.py
  backend/src/threads/routes/router.py
  backend/src/threads/schemas/model_schema.py
  backend/src/threads/services/review_service.py
Labels: Backend
